.wf-mplus1p { font-family: "Mplus 1p"; }
.top a {
  color:#273966;
  text-decoration: none;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  line-height: 1;
}

.prof-img {
  width: 20vh;
  height: 20vh;
  background-size: cover;
  background-image: url(prof.jpg);
  background-color: #f5f5f5;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px #dddddd;
}

.my-name {
  font-size: 2.5em;
  font-weight: 200;
}

.sns {
  display: flex;
  margin: 10px 0 10px 0;
}

.sns-icon {
  font-size: 1.8em;
  margin: 10px 10px 10px 0;
}

.top-wrap {
  border-left: 1px solid #273966;
  padding-left: 2vw;
  margin-left: 2vw;
  align-items: center;
  justify-content: center;
}

.my-info {
  margin-bottom: 5px;
}

@media screen and (max-device-width: 480px) {
  .top {
    flex-direction: column;

  }
  .prof-img {
    margin-bottom: 3vh;

  }
  .top-wrap {
    border: none;
  }
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: gray;
  line-height: 1;
  border-top: 1px solid #273966;
}
.column {
  flex-direction: column;
}
.messagebox {
  line-height: 1.5;
}
.googleForm {
  width: 100vw;
  height: 100vh;
}
